<div class="container-fluid" id="editor-view-container" ng-init="ec.loadMath()" ng-cloak>
    <div class="row">
        <div class="derivation-jumbotron col-xs-9">
            <div class="content">
                <div mathjax-bind ng-transclude></div>
            </div>
        </div>
        <div class="derivation-sidebar col-xs-3">
            <div class="rule-display clickable" ng-repeat="rule in ec.rules track by $index" ng-click="ec.applyRule(rule)">
                <mathjax-rule rule='rule'></mathjax-rule>
            </div>
        </div>
    </div>
</div>
<div ng-if="ec.logicVariableInput" class="centered-input">
    <form class="centered-input-content">
        <input ng-repeat="var in ec.logicVariableList" class="logic-variable-input" ng-class="{'invalid-input': ec.invalidJud}" type="text" ng-model="lv" placeholder="{{var}}" ng-change="ec.verifyInput(lv)">
        <input type="submit" ng-click="ec.applyLogicVariableRule()" name="submit" id="submit-logic-variables" ng-disabled="ec.invalidJud" value="Submit">
    </form>
    <div ng-click="ec.logicVariableInput = false" class="back-button" title="Go Back">
    </div>
</div>
