html,
body {
    height: 100%;
    margin: 0;
}

.full-page {
    height: 100vh;
}

.derivation-jumbotron {
    height: 85vh;
    display: flex;
    flex-direction: column-reverse;
    -webkit-box-shadow: 10px 10px 13px -1px rgba(201, 201, 201, 0.77);
    -moz-box-shadow: 10px 10px 13px -1px rgba(201, 201, 201, 0.77);
    box-shadow: 10px 10px 13px -1px rgba(201, 201, 201, 0.77);
}

.content {
    margin-bottom: 25px;
}

.theorem-top: {
    border-bottom: 1px solid;
}

.chosen-theorem {
    border: 1px red solid;
}

.custom-alert {
    height: 50px;
    border-radius: 5px;
    background-color: #D11C24;
    color: white;
    position: fixed;
    padding: 10px;
    left: 0;
    bottom: 0;
    margin: 20px;
}

.row {
	position: relative;
}

.bottom {
	position: absolute;
	bottom: 0;
	right: 0;
}