<!DOCTYPE html>
<html lang="en" ng-app="derivationEditor">

<head>
    <meta charset="UTF-8">
    <title>Natural Deduction Editor</title>
    <!-- style -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="style/main.css" rel="stylesheet">
    <!-- lib -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- app -->
    <script src="app/config.js"></script>
    <script src="app/services/Prop.js"></script>
    <script src="app/services/AlertService.js"></script>
    <script src="app/services/NatDed.js"></script>
    <script src="app/directives/equalSpaces.js"></script>
    <script src="app/controllers/editorController.js"></script>
</head>

<body ng-controller="editorController as ec">
    <div class="container-fluid">
        <div class="row">
            <div class="derivation-jumbotron col-xs-10">
                <div class="content">
                    <div id="children{{ec.der.branchid}}" class="theorem-top row">
                        <div class="pulled-down" ng-repeat="data in ec.der.children" ng-include="'tree_item_renderer.html'" ng-class="{'col-xs-12':ec.der.children.length == 1, 'col-xs-6':ec.der.children.length == 2,
                    	'col-xs-4':ec.der.children.length == 3}"></div>
                    </div>
                    <div class="text-center" ng-class="{'chosen-theorem': ec.der.branchid == ec.currentTheoremId}" ng-click="ec.setCurrentId(data.branchid)">
                        {{ec.toString(ec.der.branchid)}}
                    </div>
                </div>
            </div>
            <div class="derivation-sidebar col-xs-2">
                <button ng-click="ec.ImpIntro()">
                    Imp Introduction rule
                </button>
                <button ng-click="ec.AndIntro()">
                    And Introduction rule
                </button>
                <button ng-click="ec.OrIntro1()">
                    Or Introduction 1 rule
                </button>
                <button ng-click="ec.OrIntro2()">
                    Or Introduction 2 rule
                </button>
            </div>
        </div>
    </div>
    <!-- Courtesy of http://jsfiddle.net/brendanowen/uXbn6/8/ -->
    <script type="text/ng-template" id="tree_item_renderer.html">
        <div id="children{{data.branchid}}" class="theorem-top row">
            <div class="pulled-down" ng-repeat="data in data.children" ng-include="'tree_item_renderer.html'" ng-class="{
            	'col-xs-12': ec.getChildrenLen(data.parentid) == 1, 
             'col-xs-6': ec.getChildrenLen(data.parentid) == 2,
             'col-xs-4': ec.getChildrenLen(data.parentid) == 3}">
            </div>
        </div>
        <div class="text-center" ng-class="{'chosen-theorem': data.branchid == ec.currentTheoremId}" ng-click="ec.setCurrentId(data.branchid)">
            {{ec.toString(data.branchid)}}
        </div>
    </script>
</body>

</html>
